.add_pictures {
    display: flex;
    gap: 1rem;                /* Medzera medzi kontajnermi */
    justify-content: center;  /* Zarovnanie do stredu, prípadne použite flex-start pre zarovnanie vľavo */
    align-items: center;
    padding: 1rem;
    border: black;
    width: 100%;
    border-radius: 15px;
    height: 500px;
}



.main_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease; /* Prechod opacity 1 sekundu */
}